@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-900: #1e3a8a;

  --font-sans: "Inter", "Outfit", "Roboto", system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 selection:bg-primary-100 selection:text-primary-900 font-sans antialiased;
  }
}